/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #000000;
  color: white;
  text-align: center;
  font-family: Trebuchet MS;
}

a {
  color: #727272;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #bebebe;
  outline: none;
  text-decoration: none;
}

h1 {
  font-family: Trebuchet MS;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Title Section
--------------------------------------------------------------*/
#title {
  width: 100%;
  height: 100vh;
  background: #410103;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #title {
    background-attachment: fixed;
  }
}

#title .title-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#title h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #title h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 768px) {
  #title h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000000;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

/*--------------------------------------------------------------
# Extra coding
--------------------------------------------------------------*/

strong {
  color: #727272;
}

strong2 {
  color: white;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 6px;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200%;
}

body {
    font-family: 'Trebuchet MS';font-size: 30px;
}

.transparent {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.37);
}
